/*
 * $Header: svn+ssh://svn@www.esplanner.com/ESPlannerWeb-drupal/trunk/sites/all/modules/p3p/css/p3p.css 11945 2013-02-16 21:37:07Z munroe $
 */

div.p3p > div.help
{
	font-size: 105% ;
	font-weight: bold ;
	margin-top: 1em ;
	margin-bottom: 1em ;
}

div.p3p > .select
{
	margin-left: 1em ;
}

div.p3p .grouping
{
	border: solid 1px ;
	padding-left: 2.5em ;
	padding-right: .5em ;
}

div.p3p .grouping input[type=radio]
, div.p3p .grouping input[type=checkbox]
{
	margin-left: -2em ;
}

div.p3p .grouping + .grouping
{
	margin-top: 1em ;
}
